@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Fredoka+One&family=Monofett&family=Poiret+One&family=Sacramento&display=swap');

/* set body background color, text alignment, & default font */
body {
  background-color: #f0c5f9;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#fifi {
  border-radius: 50%;
}

#topNav {
  background-color: #df91ee;
  font-family: 'Fredoka One', cursive;
}

.navbar-nav .nav-link {
  color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
  color: #8801D0 !important;
}

.post {
  font-size: 1.5rem;
}

#blogtitle {
  font-size: 6rem;
  font-family: 'Fredoka One', cursive;
}

#section-heading {
  font-family: 'Fredoka One', cursive;
}

/* set link styles */
a:link    { color: #8801D0 }
a:visited { color: #8801D0 }
a:hover   { color: rgb(87, 6, 250); }
a:active  { color: #e406bfc9; }

@media (min-width: 992px) {
  #hometext {
      font-size: 6rem;
  }
  #blogdetailtitle {
      font-size: 5rem;
  }
}