{% extends "projects/base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="my-5 d-flex flex-row align-items-center">
    <div class="col-7 m-2">
      <h1 id="section-heading">Welcome!</h1>
      <h4>I'm a full stack software engineer working in JavaScript, Python and (soon!) Java.</h4>
      <img src="{% static "projects/daisy.png" %}" width="26" height="26" class="d-inline-block align-top" alt="Sophia's Logo">
      <h4>I love problem solving and learning different tools and languages. I'm fascinated by AI and Machine Learning, I like tinkering around with my Raspberry Pi, and I think a lot about the societal impact of new technologies.</h4>
      <img src="{% static "projects/daisy.png" %}" width="26" height="26" class="d-inline-block align-top" alt="Sophia's Logo">
      <h4>When I'm not coding I'm probably writing, working on a crossword, or hanging at the dog beach with my pups.</h4>
      <a href="mailto:mail@fifikim.com" class="nav-link">drop me a line!</a>
    </div>
    <div class="col-5 m-2">
      <img src="{% static 'projects/fifi.jpeg' %}" id="fifi" class="img-fluid">
    </div>
  </div>
</div>

<div class="container col-10">
  <h2 id="section-heading" class="mt-5">Portfolio</h2>
  <hr>
  <div class="row d-flex justify-content-between">
    {% for project in projects %}
    <div class="col-lg-3 col-md-6 col-sm-12 p-2">
      <div class="card border-dark h-100">
        <a href="{% url 'project_detail' project.pk %}">
          <img src="{{ project.image.url }}" class="card-img-top" alt="project-preview">
        </a>
        <div class="card-body">
          <a href="{% url 'project_detail' project.pk %}">
            <h5 id="section-heading" class="card-title">{{ project.title }}</h5>
          </a>
          <p class="card-text">{{ project.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}