{% extends "projects/base.html" %}

{% load static %}

{% block content %}
<div class="my-5 d-flex flex-row align-items-center">
  <div class="col-md-7">
    <h1 class="section-heading">Welcome!</h1>
    <h4>I'm a full stack software engineer working in JavaScript, Python and (soon!) Java.</h4>
    <br>
    <h4>I love problem solving and learning different tools and languages. I'm fascinated by AI and Machine Learning, I like tinkering around with my Raspberry Pi, and I think a lot about the societal impact of new technologies.</h4>
    <br>
    <h4>When I'm not coding I'm probably writing, working on a crossword, or hanging at the dog beach with my pups.</h4>
    <a href="mailto:mail@fifikim.com" class="nav-link">drop me a line!</a>
  </div>
  <div class="col-5">
    <img src="{% static 'projects/fifi.jpeg' %}" id="fifi" class="img-fluid">
  </div>
</div>

<h2 id="section-heading" class="mt-5 align-left">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    
    <h3 id="section-heading">{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}