{% extends 'projects/base.html' %}
{% block content %}

<h1 class="text-center mt-5 section-heading">{{ project.title }}</h1>
<img src="{{ project.image.url }}" width="600">
<br>

{% if project.url %}
  <a href="{{ project.url }}">Project Link</a> 
{% else %}
  Project link coming soon
{% endif %}

{% if project.github %}
  <a href="{{ project.github }}">| GitHub </a> 
{% else %}
  | GitHub link coming soon 
{% endif %}

<br>
Tech Stack: {{ project.stack }}
<br>
{{ project.description|safe }}

{% endblock %}